<nav class="flex justify-between items-center bg-black text-2xl px-3 py-6">
  <a href="/" class="text-green-200"><i class="fab fa-trello px-3"></i>Tryllo</a>
  <div class="text-white text-sm">
    <% if user_signed_in? %>
      <span><%= current_user.email %></span>
      <%= link_to "登出", destroy_user_session_path, method: 'delete', class: 'user-button ml-2' %>
    <% else %>
      <%= link_to "登入", new_user_session_path, class: 'user-button' %>
      <%= link_to "註冊", new_user_registration_path, class: 'user-button'%>
    <% end %>
  </div>
</nav>
